@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --navbarHeight: 70px;
}

:root {
    --darkOrange: #d85b38;
    --orange: #ff9f1c;
    --apricot: #ffbf69;
    --navy: #274076;
    --purple: #513b82;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.App {
    height: 100vh;
    width: 100vw;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--apricot);
}

.home h1 {
    font-size: 60px;
}

.home h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 30px 0;
}

.theSun {
    width: 200px;
    height: 200px;
    background-color: #ffea00;
    border-radius: 50%;
    box-shadow: 0 0 15px 3px #fcec3d;
    position: absolute;
    top: 40px;
    left: 40px;
    animation: pulsing 2s alternate infinite;
}

@keyframes pulsing {
    from {
        box-shadow: 0 0 90px rgb(255, 242, 0), 0 0 90px rgb(255, 242, 0);
    }
    to {
        box-shadow: 0 0 25px rgb(255, 242, 0), 0 0 75px rgb(255, 242, 0);
    }
}

.theCloud {
    width: 200px;
    height: 60px;
    opacity: 0.9;
    background: white;
    position: absolute;
    top: 170px;
    left: 65px;
    border-radius: 200px;
    z-index: 2000;
}

.theCloud:before,
.theCloud:after {
    content: '';
    background: white;
    position: absolute;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.theCloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

.primary-btn {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--darkOrange);
    font-size: 20px;
    color: black;
}

.primary-btn:hover {
    background-color: #d76b4d;
    transition: background-color 350ms ease-in-out;
}
